@model Human_Resource_Management.Models.SubCompany

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="page-header">
        <h2>Company Information</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-11">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Chief_Executive_Officer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Chief_Executive_Officer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Registered_Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Registered_Date)
            </dd>
        </dl>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-sm-offset-1 col-sm-11" style="padding-top:10px;">
        @Html.ActionLink("Edit Record", "Edit", new { id = Model.Id ,compId = Model.Company.Id}) |
        @Html.ActionLink("Back to Sub Companies", "Index",new { id = Model.Company.Id})
    </div>
</div>
